# Python cấu hình mặc định
__pycache__/
*.pyc
*.pyo

# Môi trường ảo (Virtual Environment)
venv/
.venv/
env/

# Chrome profile khi crawl
.chrome_profile/

# CHẶN TOÀN BỘ THƯ MỤC DATA VÀ FILE LỚN (Đã sửa lại để chặn triệt để)
data/
*.pkl
*.h5
*.pt

# Hệ điều hành / Code Editor
.DS_Store
.vscode/
.idea/